
#container {
    margin:20px;
    position: relative; /* Needed for absolute positioning of pseudo-elements */
}




#container::before {
    content: "Before Element"; /* Content to insert before the box */
    display:inline-block; /* Make it a block-level element to stack above the box */
     /* Background color for the pseudo-element */
    color: #f00; /* Text color for the pseudo-element */
	font-size:20px;
}

#container::after {
    content: "After Element";
    display:inline-block; /* Make it a block-level element to stack below the box */
    /* Background color for the pseudo-element */
    color: #f00; /* Text color for the pseudo-element */
	font-size:20px
}